@model IEnumerable<Webbprojekt.Models.Maträtt>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Taste of Beirut</title>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="logo.jpg">
</head>
<body>
    <article>


        <table class="table">


            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.kategori.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) :- 
                </td>
                <td>
                    @Html.ActionLink("Ändra", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Detaljer", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Ta bort", "Delete", new { id = item.ID })
                </td>
            </tr>
    }

        </table>
        <div class="alert alert-dark" role="alert">
            <p class="laggtillratt">
                @Html.ActionLink("Lägg till rätt", "Create")
            </p>
        </div>

        <footer>
            Taste of Beirut, Barnarpsgatan 100, Jönköping - 036-12 42 23
        </footer>
    </article>
</body>
</html>


